In [1]:
%matplotlib widget
import numpy as np
import pandas as pd
from dfbrowser import dfbrowser

In [2]:
#Generate some fake data
x = np.arange(100)
y = np.random.randn(100)
z = np.random.randn(100)

#Create DataFrame
df = pd.DataFrame({"x":x,"y":y,"z":z})
df

     x         y         z
0    0 -0.902382 -1.902831
1    1 -0.620384 -0.281695
2    2 -0.679117  0.289633
3    3       NaN -1.449107
4    4 -0.206797 -1.032407
..  ..       ...       ...
95  95  2.221565  0.132221
96  96 -0.179676  0.984202
97  97  0.269984 -1.249719
98  98  1.487294 -0.787475
99  99  1.357530  0.395844

[100 rows x 3 columns]

In [9]:
browse = dfbrowser(df,s=10,c='green',funct=print)

VBox(children=(HBox(children=(Dropdown(description='x var:', options=('x', 'y', 'z'), value='x'), Checkbox(val…