In [1]:
%matplotlib widget
import numpy as np
import pandas as pd
from dfbrowser import dfbrowser

In [2]:
#Generate some fake data
x = np.arange(100)
y = np.random.randn(100)
z = np.random.randn(100)

#Create DataFrame
df = pd.DataFrame({"x":x,"y":y,"z":z})
df

     x         y         z
0    0  0.311452  0.523320
1    1 -1.119478 -2.006820
2    2 -0.269027 -2.208969
3    3 -0.241498  0.228518
4    4 -0.298319 -1.190822
..  ..       ...       ...
95  95  1.269902  1.638209
96  96  1.601578  0.670972
97  97 -0.563024  1.784578
98  98  0.188064  0.314559
99  99 -0.010033 -0.397230

[100 rows x 3 columns]

In [3]:
browse = dfbrowser(df,s=10,c='green')

VBox(children=(HBox(children=(Dropdown(description='x var:', options=('x', 'y', 'z'), value='x'), Checkbox(val…

In [4]:
#Connect a function to the click event that displays the output
#Unfortunately you can't just connect print anymore since ipympl v0.5
import ipywidgets
#Create output widget
output = ipywidgets.Output()
#Show it here
display(output)

#This function displays selected row to output widget
def showrow(row):
    output.clear_output()
    with output:
        print(row)

#Pass df row to this function with each new click
browse.funct = showrow

Output()