In [1]:
%matplotlib widget
import numpy as np
import pandas as pd
from dfbrowser import dfbrowser

In [2]:
#Generate some fake data
x = np.arange(100)
y = np.random.randn(100)
z = np.random.randn(100)

#Create DataFrame
df = pd.DataFrame({"x":x,"y":y,"z":z,'s':'4'})
df

     x         y         z  s
0    0  0.092548  0.715211  4
1    1  0.498378  2.396636  4
2    2  0.582608 -0.771646  4
3    3 -0.452230 -0.488556  4
4    4  1.303998 -1.041257  4
..  ..       ...       ... ..
95  95  0.710771 -0.501179  4
96  96 -0.490828 -1.161722  4
97  97  1.881307  0.029394  4
98  98 -1.518739  0.344872  4
99  99  0.468640 -0.239715  4

[100 rows x 4 columns]

In [3]:
browse = dfbrowser(df,s=10,c='green',funct=print)

VBox(children=(HBox(children=(Dropdown(description='x var:', options=('x', 'y', 'z'), value='x'), Checkbox(val…